@{
    ViewData["Title"] = "Home Page";
    // Layout = "_NemaMe";
    ViewBag.broj = 1.2;
}

<div class="text-center">
    <h1>@ViewBag.Title </h1>
    <h2>@ViewData["broj"] </h2>
    <h2 class="display-4">Welcome</h2>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
