@{
    ViewData["Title"] = "Pilitika privatnpsti";
    string s = "Dobar dan";
   }
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

<p>@s</p>
<p>@ViewBag.poruka</p>
@{

    int b = ViewBag.broj + 12;
}
<p> Broj uvećan za 1 je: @b  </p>




