@model ASPIdentity.Models.Tekme

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Tekme</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Klub1Id" class="control-label"></label>
                <select asp-for="Klub1Id" class="form-control" asp-items="ViewBag.Klub1Id"></select>
                <span asp-validation-for="Klub1Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Klub2Id" class="control-label"></label>
                <select asp-for="Klub2Id" class="form-control" asp-items="ViewBag.Klub2Id"></select>
                <span asp-validation-for="Klub2Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Datum" class="control-label"></label>
                <input asp-for="Datum" class="form-control" />
                <span asp-validation-for="Datum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Koeficijent" class="control-label"></label>
                <input asp-for="Koeficijent" class="form-control" />
                <span asp-validation-for="Koeficijent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
