@model MVCModelApp.Models.Projekcija

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Projekcija</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FilmId" class="control-label"></label>
                <select asp-for="FilmId" class ="form-control" asp-items="ViewBag.FilmId"></select>
            </div>
            <div class="form-group">
                <label asp-for="KinoId" class="control-label"></label>
                <select asp-for="KinoId" class ="form-control" asp-items="ViewBag.KinoId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Datum" class="control-label"></label>
                <input asp-for="Datum" type="date" class="form-control" />
                <span asp-validation-for="Datum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
