@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Prva strana";
    ViewBag.Nesto = "Neki text!!!";
}
<h4> Ovo je sadržaj naše stranice</h4>
